<div class="container">
  <h1 class="title">Twitter</h1>
  <article>
    <div class="topic">
      <ul>
          <li><%= link_to '好きな事をつぶやこう', new_post_path %></li>
      </ul>
    </div>
  </article>
</div>
